@import 'variables';

.calculator {
    background: $light-bg;
    min-width: 320px;
    min-height: auto;
    box-shadow: 0px 0px 60px #222;
    div {
        .calculator__output {
            min-height: 70px;
            background: $lightpink-bg;
            color: $lightpink-txt;
            display: flex;
            align-items: center;
            p {
                padding-left: 15px; 
                width: 100%;
                height: 100%;
                font-size: 24px;
            }
        }
        .calculator__input {
            input[type=text] {
                width: 100%;
                border: none;
                background: $darkpink-bg;
                color: $darkpink-txt;
                outline: none;
                font-size: 24px;
                padding: 20px 15px;
            }
        }
    }
    .calculator__keypad {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        .calculator__keypad__key {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 4em;
            color: $light-txt;
            background: $light-bg;
            cursor: pointer;
        }
        .operator {
            background: $darkgrey-bg;
            color: $darkgrey-txt;
        }
    }
}