* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Oxygen Mono", sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    background: url(./assets/calc_desktop.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}