@import url('https://fonts.googleapis.com/css?family=Oxygen+Mono&display=swap');

$darkpink-bg: #fdd7ea;
$darkpink-txt: #f98dbe;
$lightpink-bg: #fef1f8;
$lightpink-txt: #fa9eca;
$darkgrey-bg: #d7d7d7;
$darkgrey-txt: #6b6b6b;
$light-bg: #ffffff;
$light-txt: #7f7f7f;