// Implementing Samsung Sharp Sans font family
@font-face {
  font-family: 'Samsung Sharp Sans Regular Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Samsung Sharp Sans Regular Regular'),
    url('./assets/fonts/SamsungSharpSansRegular-Regular.woff') format('woff');
}

@font-face {
  font-family: 'SamsungSharpSans-Bold';
  font-style: normal;
  font-weight: normal;
  src: local('SamsungSharpSans-Bold'),
    url('./assets/fonts/samsung_s_sharp_by_629lyric-d8y77l9.woff')
      format('woff');
}

//Color variables:
$darkpink-bg: #fdd7ea;
$darkpink-txt: #f98dbe;
$lightpink-bg: #fef1f8;
$lightpink-txt: #fa9eca;
$darkgrey-bg: #d7d7d7;
$darkgrey-txt: #6b6b6b;
$light-bg: #ffffff;
$light-txt: #7f7f7f;
